# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!/**/
### Above combination will ignore all files without extension ###

# Project unneeded files
exec
*.o
*.out
*.m4v
*.sh
*.txt
